*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    font-family:'Poppins',sans-serif;
    background:#f7f7f7;
    color:#333;
    line-height:1.6;
}

header{
    background:#0b6e4f;
    color:#fff;
    padding:20px 8%;
    display:flex;
    justify-content:space-between;
    align-items:center;
    position:sticky;
    top:0;
    z-index:1000;
    box-shadow:0 3px 10px rgba(0,0,0,.15);
}

.logo h1{
    font-size:30px;
}

.logo p{
    font-size:14px;
}

nav a{
    color:white;
    text-decoration:none;
    margin-left:20px;
    font-weight:600;
    transition:.3s;
}

nav a:hover{
    color:#ffd54f;
}

.hero{
    min-height:90vh;
    background: linear-gradient(rgba(0,0,0,.45),rgba(0,0,0,.45)),url("Portada.jpg");
    background-size:cover;
    background-position:center;
    display:flex;
    align-items:center;
    justify-content:center;
    text-align:center;
    color:white;
    padding:20px;
}

.hero h2{
    font-size:50px;
    margin-bottom:20px;
}

.hero p{
    font-size:20px;
    max-width:700px;
    margin:auto;
}

.boton{
    display:inline-block;
    margin-top:30px;
    background:#ff9800;
    color:white;
    padding:15px 35px;
    border-radius:40px;
    text-decoration:none;
    font-weight:bold;
    transition:.3s;
}

.boton:hover{
    transform:scale(1.05);
    background:#e68900;
}

section{
    padding:70px 10%;
}

section h2{
    text-align:center;
    font-size:38px;
    color:#0b6e4f;
    margin-bottom:25px;
}

section p{
    max-width:900px;
    margin:auto;
    text-align:center;
}

.galeria{
    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(260px,1fr));
    gap:20px;
    margin-top:40px;
}

.galeria img{
    width:100%;
    border-radius:15px;
    cursor:pointer;
    transition:.4s;
    box-shadow:0 5px 15px rgba(0,0,0,.15);
}

.galeria img:hover{
    transform:scale(1.05);
}

.donaciones{
    background:#0b6e4f;
    color:white;
    text-align:center;
}

.donaciones h2{
    color:white;
}

.donaciones ul{
    list-style:none;
    margin-top:30px;
}

.donaciones li{
    margin:12px 0;
    font-size:20px;
}

.redes{
    display:flex;
    justify-content:center;
    gap:20px;
    margin-top:25px;
}

.redes a{
    text-decoration:none;
    color:white;
    background:#0b6e4f;
    padding:12px 22px;
    border-radius:30px;
    transition:.3s;
}

.redes a:hover{
    background:#084d38;
}

footer{
    background:#222;
    color:white;
    text-align:center;
    padding:40px 20px;
}

@media(max-width:768px){

header{
    flex-direction:column;
}

nav{
    margin-top:15px;
}

nav a{
    display:inline-block;
    margin:10px;
}

.hero h2{
    font-size:34px;
}

.hero p{
    font-size:18px;
}

section h2{
    font-size:30px;
}

}
